body{
	background-color:rgb(0, 0, 100);
	color:white;
	font-family:arial;
}
h1{
	text-align:center;
	font-size: 8vw;
}
h2{
	font-size: 5vw;
}
.text{
	text-align:center;
}
p{
	font-size: 3vw;
}
.link{
	display: inline-block;
	border-radius: 0.75vw;
	transition: transform 0.5s ease;
	padding-left: 0.75vw;
	padding-right: 0.75vw;
	padding-top: 0.5vh;
	padding-bottom: 0.25vh;
}
 .link:hover{
	border-radius: 0.75vw;
	transform:scale(1.2)

 }
.logo{
    width: 10vw;
    height:auto;
}
.logo_div{
    display:flex;
    align-items: right;
}
a{
	text-decoration: none;
	color:white;
}
.stichpunkt{
	width:10vw;
	height: 10vw;
	border-radius: 1vw;
	background-color: rgba(142,142,142,0.4);
}
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
.AG{
	background-color: rgba(142,142,142,0.4);
	height: 20vw;
	width: 20vw;
	border-radius: 2.5vw;
	transition: height 0.2s ease;
    height:25vw
}
.AG_IMG{
	width: 15vw;
	height: 15vw;
	display:inline-block;
	align-items: center;
	padding: 2.5vw;
}
.AG_text{
	color: white;
	font-size: 3vw;
	display:flex;
	justify-content: center;
	opacity: 1;
}
.Tabelle{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	gap:7vw;
	margin-left: 10vw;
	margin-right:10vw;
}
.Tabelle::after{
	content: "";
	display: block;
	height: 1vh;
}
.nunito-body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.Tabelle_Informatik{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	margin-left: 10vw;
	margin-right: 10vw;
}
