.sidemenu {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  padding-top: 20px;
}

.sidemenu a {
  padding: 16px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
}

.sidemenu a:hover {
  background-color: #444;
}
